body { margin-top: 10px;
  margin-right: 150px;
  margin-left: 150px;

  background-color: #777;
  font-family: 'Arial';
  font-size: 18px;
  width: 960px;
}

div.header { position: relative;
  text-align: center;
  width: 495px;
  height: 90px;
  background-color: #ebebeb;
  color: #777;
  
}
div.nav { position: relative;
  text-align: center;
  top: 10px;
  width: 495px;
  height:90px;
  background-color: #ebebeb;
  color: #777;
}

div.section { margin-top: 37px;
  position: relative;
  width: 495px;
  height: 150px;
  background-color: #ebebeb;
  color: #777;
  text-align: center;
  padding-top: 50px;
}

div.aside {
  margin-top: 37px;
  float: right;
  width: 300px;
  height: 100px;
  background-color: #ebebeb;
  color: #777;
  text-align: center;
}

div.footer {
  position: relative;
  text-align: center;
  top: 150px;
  bottom: 60px;
  width: 495px;
  height: 90px;
  background-color: #ebebeb;
  color: #777;
}