body { margin-top: 10px;
  margin-right: 150px;
  margin-left: 150px;

  background-color: #777;
  font-family: 'Arial';
  font-size: 18px;
  width: 960px;
}

div.header { position: relative;
  padding-top: 30px;
  text-align: center;
  width: 960px;
  height: 60px;
  background-color: #ebebeb;
  color: #777;
  
}
div.nav { position: relative;
  text-align: center;
  width: 960px;
  height:90px;
  background-color: #ebebeb;
  color: #777;
}

#nav { position: relative;
  padding-top: 30px; }

li {
  display: inline-block;
}

#section { margin-top: 5px;
  position: relative;
  width: 495px;
  height: 250px;
  background-color: #ebebeb;
  color: #777;
  text-align: center;
  padding-top: 40px;
  float: left;
  margin-left: -39px;
}

div.article {
  margin-top: 50px;
  position: relative;
  width: 470px;
  height: 180px;
  background-color: #777;
  color: #ebebeb;
  text-align: center;
  padding: 2px;
  margin: 10px;
}

div.h {
  /*position: relative;*/
 border-style: solid;
 background-color: #ebebeb;
 color: #777;
 text-align: center;
 margin-top: 13px;
}

div.p {
  position: relative;
 border-style: solid;
 background-color: #ebebeb;
 color: #777;
 text-align: center;
 margin-top: 6px;
}

div.aside {
  position: relative;
  width: 440px;
  height: 250px;
  background-color: #ebebeb;
  color: #777;
  text-align: center;
  padding-top: 40px;
  float: left;
  margin-left: 15px;
}


div.footer {
  position: relative;
  text-align: center;
  top: 15px;
  bottom: 60px;
  width: 960x;
  height: 90px;
  background-color: #ebebeb;
  color: #777;
  margin-bottom: 100px;
}

#footer {
  position: relative;
  padding-top: 30px;
}